
@{
    ViewBag.Title = "新增書籍";
}

<h2>新增書籍</h2>

<form id="add_table">
    <table class="fieldlist">
        <tr>
            <td>
                <label>書名</label>
            </td>
            <td>
                <input id="book_name" type="text" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label>作者</label>
            </td>
            <td>
                <input id="book_author" type="text" required></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>出版商</label>
            </td>
            <td>
                <input id="book_publisher" type="text" required></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>內容簡介</label>
            </td>
            <td>
                <textarea id="book_note" type="text" required></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>購書日期</label>
            </td>
            <td>
                <input id="buy_date" type="text" required ></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>圖書類別</label>
            </td>
            <td>
                <select id="book_class" required ></select>
            </td>
        </tr>
    </table>
    <button id="add_button">新增</button>
</form>

<script>
    $("#buy_date").kendoDatePicker({
        value: new Date(),
        format: 'yyyy/MM/dd',
        dateInput: true
    });
    $("#book_class").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: "GetBookClassCodeTable",
                    method: "post"
                }
            }
        },
        optionLabel: "請選擇",
        index: 0,
    });

    $("#add_button").click(function () {
        var validator = $("#add_table").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            var data = {
                "BookName": $("#book_name").val(),
                "BookAuthor": $("#book_author").val(),
                "BookPublisher": $("#book_publisher").val(),
                "BookNote": $("#book_note").val(),
                "BuyDate": $("#buy_date").val(),
                "BookClassID": $("#book_class").val(),
            };
            $.ajax({
                method: "post",
                url: "AddBook",
                dataType: "json",
                data: data,
                success: function (e) {
                    if (e) {
                        location.href = "./QueryBook";
                    }
                }
            })
            alert("成功新增");
        } else {
            alert("新增失敗");
        }
    });
</script>