@model Course04.Models.Book
@{
    ViewBag.Title = "書籍資訊";
}


<h2>書籍資訊</h2>

<form id="present_table">
    <table class="fieldlist">
        <tr>
            <td>
                <label>書名</label>
            </td>
            <td>
                <input id="book_name" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>作者</label>
            </td>
            <td>
                <input id="book_author" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>出版商</label>
            </td>
            <td>
                <input id="book_publisher" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>內容簡介</label>
            </td>
            <td>
                <textarea id="book_note" readonly="readonly"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>購書日期</label>
            </td>
            <td>
                <input id="book_buydate" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>圖書類別</label>
            </td>
            <td>
                <input id="book_class" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>借閱狀態</label>
            </td>
            <td>
                <input id="book_state" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td>
                <label>借閱人</label>
            </td>
            <td>
                <input id="book_keeper" readonly="readonly" />
            </td>
        </tr>
    </table>
</form>

<script>
    function query_string(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
    }
    $(document).ready(function () {
        //Getting the parameter-
        var BookID = query_string('BookID');
        var searchArg = {
            "BookID": query_string('BookID')
        };
        $.ajax({
            type: "POST",
            url: "./PresentBook",
            data: searchArg,
            dataType: "json",
            success: function (e) {
                if (e) {
                    $("#book_name").val(e[0].BookName);
                    $("#book_author").val(e[0].BookAuthor);
                    $("#book_publisher").val(e[0].BookPublisher);
                    $("#book_note").val(e[0].BookNote);
                    $("#book_buydate").val(e[0].BuyDate);
                    $("#book_class").val(e[0].BookClass);
                    $("#book_state").val(e[0].BookStatus);
                    $("#book_keeper").val(e[0].Keeper);
                }
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
    });

</script>