<h2>查詢書籍</h2>

<form id="query_table">
    <table class="fieldlist">
        <tr>
            <td>
                <label for="book_name">書名</label>
            </td>
            <td>
                <input id="book_name" />
            </td>
        </tr>
        <tr>
            <td>
                <label>圖書類別</label>
            </td>
            <td>
                <select id="book_class"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label>借閱人</label>
            </td>
            <td>
                <select id="book_keeper"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label>借閱狀態</label>
            </td>
            <td>
                <select id="book_state"></select>
            </td>
        </tr>
    </table>
    <button id="summit_search">查詢</button>
    <button id="addbook" type="button" onclick="location.href = './AddBook';">add</button>
    <button id="clear_search" type="button">清除</button>
</form>

<div id="result_grid"></div>

<script>
    $("#book_class").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: "GetBookClassCodeTable",
                    method: "post"
                }
            }
        },
        optionLabel: "請選擇",
        index: 0,
    });
    $("#book_keeper").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: "GetMemberCodeTable",
                    method: "post"
                }
            }
        },
        optionLabel: "請選擇",
        index: 0,
    });
    $("#book_state").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: "GetStatusCodeTable",
                    method: "post"
                }
            }
        },
        optionLabel: "請選擇",
        index: 0,
    });
    var searchArg = {
        "BookName": $("#book_name").val(),
        "BookClassID": $("#book_class").val(),
        "KeeperID": $("#book_keeper").val(),
        "StatusCodeID": $("#book_state").val()
    };
    var grid = $("#result_grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    data: searchArg,
                    url: "QueryBook",
                    method: "post",
                    datatype: "json"
                }
            },
            schema: {
                model: {
                    fields: {
                        BookID: { type: "string" },
                        BookName: { type: "string" },
                        BookAuthor: { type: "string" },
                        BookPublisher: { type: "string" },
                        BookNote: { type: "string" },
                        BuyDate: { type: "string" },
                        BookClass: { type: "string" },
                        BookStatus: { type: "string" },
                        Keeper: { type: "string" },
                    }
                }
            },
            pagesize: 20,
        },
        height: 550,
        sortable: true,
        pageable: {
            input: true,
            numeric: false
        },
        columns: [
            { field: "BookID", title: "流水號", width: "10%" },
            { field: "BookName", template: "<a href='./PresentBook?BookID=${BookID}'>${BookName}</a>", width: "25%" },
            { field: "BookClass", title: "圖書類別", width: "15%" },
            { field: "BookAuthor", title: "作者", width: "15%" },
            { field: "BuyDate", title: "購買日期", width: "15%" },
            { field: "BookStatus", title: "借閱狀態", width: "10%" },
            { field: "Keeper", title: "借閱人", width: "10%" },
            { command: { text: "修改", click: editBook }, title: " ", width: "120px" },
            { command: { text: "刪除", click: deleteBook }, title: " ", width: "120px" },
            { command: { text: "借閱紀錄", click: queryBookLendRecord }, title: " ", width: "150px" }
        ]
    });
    $("#summit_search").click(function (e) {
        e.preventDefault();
        var dataSource = grid.data("kendoGrid").dataSource;
        dataSource.filter(
            [
                { field: "BookName", operator: "contains", value: $("#book_name").val() },
                { field: "BookClass", operator: "contains", value: ($("#book_class").data("kendoDropDownList").text() == "請選擇" ? "" : $("#book_class").data("kendoDropDownList").text()) },
                { field: "Keeper", operator: "contains", value: ($("#book_keeper").data("kendoDropDownList").text() == "請選擇" ? "" : $("#book_keeper").data("kendoDropDownList").text()) },
                { field: "BookStatus", operator: "contains", value: ($("#book_state").data("kendoDropDownList").text() == "請選擇" ? "" : $("#book_state").data("kendoDropDownList").text()) }
            ]
        );
    });
    function editBook(e) {
        var tr = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "./EditBook?BookID=" + tr.BookID;
    }
    function deleteBook(e) {
        e.preventDefault();
        var tr = this.dataItem($(e.currentTarget).closest("tr"));
        if (confirm("確定刪除?")) {
            $.ajax({
                type: "POST",
                url: "/Book/DeleteBook",
                data: { "bookID": tr.BookID },
                dataType: "json",
                success: function (response) {
                    if (response) {
                        alert("已刪除書籍");
                        var dataSource = grid.data("kendoGrid").dataSource;
                        dataSource.remove(tr);
                        //dataSource.sync();
                    } else {
                        alert("借出中的書不可刪除")
                    }
                }, error: function (error) {
                    alert("系統發生錯誤");
                }
            });
        }
    }
    function queryBookLendRecord(e) {
        var tr = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "./QueryLendRecord?BookID=" + tr.BookID;
    }
    $("#clear_search").click(function (e) {
        e.preventDefault();
        location.href = './QueryBook';
    })
</script>