@{
    ViewBag.Title = "借閱紀錄";
}

<h2>借閱紀錄</h2>

@if (ViewBag.SearchResult != null)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr id>
                <th>借閱日期</th>
                <th>借閱人員編號</th>
                <th>英文姓名</th>
                <th>中文姓名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Course04.Models.LendRecord>)ViewBag.SearchResult)
            {
                <tr>
                    <td>@item.LendDate</td>
                    <td>@item.KeeperID</td>
                    <td>@item.KeeperEname</td>
                    <td>@item.KeeperCname</td>
                </tr>
            }
        </tbody>
    </table>
}